In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
df=pd.read_csv('GlobalTemperatures.csv')

In [3]:
df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(3192, 9)

In [5]:
df["dt"] = pd.to_datetime(df["dt"])
df["Month"] = df["dt"].dt.month
print(df[["Month"]].head())

   Month
0      1
1      2
2      3
3      4
4      5

In [6]:
df.drop(columns=['dt'], inplace=True)
df.reset_index(drop=True, inplace=True)

In [7]:
df.dropna(inplace=True)

In [8]:
df.head()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,Month
1200,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367,1
1201,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414,2
1202,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341,3
1203,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267,4
1204,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249,5

In [9]:
df.shape

(1992, 9)

In [11]:
df.to_csv("cleaned_data.csv")

In [12]:
df.columns

Index(['LandAverageTemperature', 'LandAverageTemperatureUncertainty',
       'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
       'LandMinTemperature', 'LandMinTemperatureUncertainty',
       'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty', 'Month'],
      dtype='object')